@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Parkinsans", sans-serif;

  --text-2xl: clamp(2.5rem, 5vw, 3.75rem); /* 40px - 60px */
  --text-xl: clamp(2rem, 4.5vw, 3.4375rem); /* 32px - 55px */
  --text-lg: clamp(1.5rem, 3vw, 1.875rem); /* 24px - 30px */
  --text-sm: clamp(1rem, 2vw, 1.125rem); /* 16px - 18px */
  --text-xs: clamp(0.875rem, 1.8vw, 1.0625rem); /* 14px - 17px */
  --text-25: clamp(1.2rem, 3vw, 1.563rem);
  --text-40: clamp(1.8rem, 3vw, 2.5rem);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
